footer {
    width: 270px;
    font-size: smaller;
    position: static;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased
}

// HEADER

banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.avatar {
    flex: 1 auto;
    border-radius: 3px;
    height: 100px;
    width: 100px
}

.title {
    flex: 2 auto;
    padding-left: 20px;
}


.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.item {
  flex: 1;
}

.icon-file-pdf:before {
  content: "\eadf";
}

// Adjusts left col so scrolling but not responsive
// Better solution likely here:
//https://css-tricks.com/guide-responsive-friendly-css-columns/

.topRight, .bottomRight{
    margin: 0px 0px 0px 0%;
}

.main{
    height: 100%;
    position: relative;
}


.leftDiv
{

    position: absolute;
    left: 0px;
    top: 0px;
    //width: 18%;
    bottom: 0px;
    //background-color: aqua;
}

.topRight
{
    //background-color: green;
}
.bottomRight
{
    //background-color: red;
}

.footer
{
    background: blue;
}
