

.avatar {
    grid-area: avatar;
    height: 100px;
    width: 100px;
    float: left;
    margin: 0px 15px 15px 0px;

}

.title {
    grid-area: title;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.spacer {

}

.grid {
  grid-template-columns: 100px 270px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "avatar title main"
    "sidebar sidebar main"
    "spacer footer footer";
    grid-row-gap: 20px;
    grid-col-gap: 50px;
    display: grid;
}


	@media only screen and (max-width: 600px)  {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1em;
      grid-template-areas:
       "avatar"
       "title"
       "sidebar"
       "main"
       "footer"
    }
	}

// New media query for larger-sized screens?

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444
    }
}


.icon-file-pdf:before {
  content: "\eadf";
}
